<template>
	<md-navbar>
		<a md-sidenav-collapse="ref.bind: sideNav;" class="left hide-on-large-only" style="cursor: pointer; padding: 0 10px;"><i class="material-icons">menu</i></a>
		<a href="#" class="brand-logo right"><span class="flow-text">Aurelia .Net Materialize Template</span></a>
		<ul id="nav-mobile" class="left hide-on-med-and-down">
			<li repeat.for="row of router.navigation" md-waves class="${row.isActive ? 'active' : ''}">
				<a href.bind="row.href"><i class="material-icons left">${row.settings.icon}</i> ${row.title}</a>
			</li>
		</ul>
	</md-navbar>

	<md-sidenav close-on-click="true" view-model.ref="sideNav">
		<ul class="sidenav-close">
			<li repeat.for="row of router.navigation" md-waves class="${row.isActive ? 'active' : ''}">
				<a href.bind="row.href"><i class="material-icons left">${row.settings.icon}</i> ${row.title}</a>
			</li>
		</ul>
	</md-sidenav>
</template>
